      body {
          font-family: 'Exo 2', sans-serif;
          font-family: 'Poppins', sans-serif;
          width: 70%;
      }

      .temp {
          text-align: light;
          font-size: 48px;
          line-height: 48px;
          color: #272044;
      }

      .temp:hover {
          color: #145f3a;
      }

      h2 {
          text-align: left;
          font-weight: 900;
          font-size: 20px;
          line-height: 48px;
          color: #8064e9;
          padding: 0 0 24px;
      }

      h2:hover {
          color: #198850;
          text-transform: uppercase;
      }

      p {
          text-align: left;
          font-size: 18px;
          line-height: 28px;
          font-family: PT Mono, monospace;
      }
      a:link {
        text-decoration: none;
      }

      .units:link {
          font-size: 24px;
        text-decoration: none;
      }
      .units:hover {
        text-decoration:underline;
                color: #164e1c;
        }

      .weather-container {
          position: relative;
          top: 60px;
          left: 25px;
          
      }
          .weather-app-wrapper {
              max-width: 800px;
              margin: 30px auto;
              position:center;
            background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
          }
    
          .weather-app {
              padding: 20px;
              border: 1px solid #dadde1;
              border-radius: 5px;
          }


      .search-engine {
          position: relative;
          top: 20px;
          left: 40px;
      }
      .row {
        position: relative;
        top: 60px;
        left: 20px;
      }

      .list-group {
          font-size: 14px;
          width: 200px;
          border: none;
          position: relative;
          top: -140px;
          left: 200px;

      }


      .sun-icon {
          color: rgb(255, 217, 0);
      }

      .cloud-icon {
          color: rgb(108, 182, 235);
      }

      .suncloud-icon {
          color: rgb(199, 142, 76);
      }

      .sunrain-icon {
          color: rgb(8, 100, 100);
      }

      .bolt-icon {
          color: rgb(173, 160, 123);
      }

      .wind-icon {
          color: rgb(67, 121, 162);
      }

      .droplet-icon {
          color: rgb(89, 219, 219);
      }

      .runner-icon {
          color: rgb(53, 27, 147);
      }
      .coder-details {
      font-size: 14px;
      text-align: left;
      text-decoration: none;
    }

    .coder-details:hover {
        color:#145f3a;
        
    }
     .coder {
    width: 22px;
    display: inline;
        line-height: 48px;
    }